<!-- Author: 2327846P - Veronika -->

<!DOCTYPE html>
{% extends 'seanWebapp/base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
{% endblock %}

{% block title %}
	SEAN Change Password
{% endblock %}

{% block textblock %}
  <div class="left_sidebar_text">
    <strong>About:</strong><br>
    Here you may change your password.<br>
    <br>
    <strong>Help:</strong><br>
    Please make sure to change your password upon first accessing your account via the email link. Otherwise you may not be able to access your account in the future.
  </div>
{% endblock %}

{% block main_panel %}
  <div class="psswrdChange_container">
    <h1>Change password</h1>
    <br>

    {% if message == "invalid" %}
    <p>
      <strong>The passwords do not match. Failed to change password.</strong>
      <br>
    </p>
    {% endif %}
    {% if message == "success" %}
    <p>
      <strong>Changed password successfully.</strong>
      <br>
    </p>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <label>New password:</label>
      <input id="form.new_password1" type="password" name="new_password1" placeholder="New password" />
      <label>Confirm new password:</label>
      <input id="form.new_password2" type="password" name="new_password2" placeholder="Confirm new password" />

      *  password can’t be too similar to your other personal information<br>
      *  password must contain at least 8 characters<br>
      *  password can’t be a commonly used password<br>
      *  password can’t be entirely numeric<br>
      <br>

      <input type="submit" value="Change Password" />
    </form>
  </div>
{% endblock %}