<!-- Author: 2133861w - Andrew Wu -->
<!-- Revamped: 2327846P - Veronika -->

<!DOCTYPE html>
{% extends 'seanWebapp/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/manageResources.css' %}" type="text/css" />
{% endblock %}

{% block title %}
    SEAN Manage Logs
{% endblock %}

{% block textblock %}
    <div class="left_sidebar_text">
        <strong>About:</strong><br>
        This is the logs page.<br>
        <br>
        You may have a look at any of the previous conversations logged here.<br>
        <br>
        <strong>Help:</strong><br>
        Should you wish to delete a conversation, you may do so here. Please be aware that once deleted, a conversation cannot be recovered.
    </div>
{% endblock %}

{% block main_panel %}
    <div class="table_container">
        {% if logs %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Log ID</th>
                        <th> GUID </th>
                        <th> Topic Discussed</th>
                        <th> Conversation Time </th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <th> {{ log.log_id }} </th>
                            <th> {{ log.guid }} </th>
                            <th> {{ log.topic_discussed }} </th>
                            <th> {{ log.conversation_time }} </th>
                            <th> <button><a href="{% url 'logDetail' log.slug %}" class="table_btn" role="button" aria-pressed="true">Log Detail</a></button></th>
                            <th> <button><a href="{% url 'deleteLog' log.slug %}" class="table_btn" role="button" aria-pressed="true">Delete Log</a></button></th>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <strong>There are no conversations logged here.</strong>
        {% endif %}

        <div class="pages">
            Page {{ logs.number }} / {{ logs.paginator.num_pages }}
            <br>
            {% if logs.has_previous %}
                <a href="?page={{ logs.previous_page_number }}" type="button">Previous</a>
            {% endif %}
            {% if logs.has_next %}
                <a href="?page={{ logs.next_page_number }}" type="button">Next</button> </a>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'staffHome' %}" role="button" class="back_button">Back</a>
{% endblock %}