<!-- Author: 2327846P - Veronika -->

<!DOCTYPE html>
{% extends 'seanWebapp/base.html' %}
{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/help.css' %}" type="text/css" />
{% endblock %}

{% block title %}
	SEAN Help
{% endblock %}

{% block textblock %}
	<div class="left_sidebar_text">
		<strong>Help:</strong><br>
		Feel free to change the settings / layout of the website here for yourself.
	</div>
{% endblock %}

{% block main_panel %}
	<div class="help_container">
		<h1>Settings</h1>
		<br>
		<p>
			Work in progress...<br>
			<br>
			We are sorry, this is still a work in progress. Hopefully it will be done soon.
		</p>
	</div>
{% endblock %}